---
import { getCollection } from "astro:content";
import ArrowCard from "../components/ArrowCard.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { dateRange } from "../utils";

const NUM_POSTS_ON_HOMEPAGE = 3;
const NUM_WORKS_ON_HOMEPAGE = 2;

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, NUM_POSTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<Layout title="Home" description="Raman Maan's personal website.">
  <div class="mx-auto max-w-screen-sm px-5">
    <h4 class="animate font-semibold">Raman S. Maan</h4>
    <h5 class="animate italic text-secondary">pronounced "rum"-"in"</h5>
    <div class="flex flex-col gap-16">
      <section class="animate">
        <article>
          <p>
            This is a scratch space to play around with ideas and experiments. I
            might even try and write a blog post or two.
          </p>
        </article>
      </section>

      <section class="animate flex flex-col gap-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold">Latest posts</h5>
          <Link href="/blog">See all posts</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate flex flex-col gap-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold">Work Experience</h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm text-secondary">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold">{entry.data.company}</div>
                <div class="text-sm text-secondary">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate">
        <ul class="flex flex-wrap gap-(--gap) [--gap:8px]">
          {
            [
              {
                name: "github",
                href: "https://github.com/ramanmaan",
                "aria-label": "Raman Maan on Github",
              },
              {
                name: "linkedin",
                href: "https://www.linkedin.com/in/ramanmaan",
                "aria-label": "Raman Maan on LinkedIn",
              },
            ].map((props, i, arr) => (
              <li class="flex gap-x-(--gap) text-nowrap">
                <Link external {...props}>
                  {props.name}
                </Link>
                {i !== arr.length - 1 && "/"}
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</Layout>
