---
import { getCollection } from "astro:content";
import WorkCalendar from "../components/WorkCalendar.astro";
import Layout from "../layouts/Layout.astro";
import WorkEntryHeader from "../components/work/WorkEntryHeader.astro";

const collection = (await getCollection("work")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf()
);
---

<Layout title="Work" description="Where I have worked and what I have done.">
  <div class="mx-auto max-w-screen-sm px-5">
    <div class="flex flex-col gap-6">
      <div class="font-semibold text-primary">Work</div>
      <ul class="flex flex-col gap-4">
        {
          collection.map((entry) => (
            <li>
              <WorkEntryHeader entry={entry} />
            </li>
          ))
        }
      </ul>
      <WorkCalendar />
    </div>
  </div>
</Layout>
