---
import ArrowIcon from "./ArrowIcon.astro";
---

<button
  class:list={[
    "relative group w-fit text-sm flex items-center gap-1 px-2 py-1.5 flex-nowrap rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out",
    "visible-on-scroll-only",
  ]}
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
>
  <ArrowIcon class="rotate-270" />
  Back to top
</button>
