@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --text-color-primary: theme(colors.neutral.950);
  --text-color-secondary: theme(colors.neutral.600);
  --border-color-base: theme(colors.neutral.200);
  --background-color-base: theme(colors.neutral.50);
  --background-color-interactive: theme(colors.neutral.100);
  --color-accent: theme(colors.sky.500);
  --color-accent-hover: theme(colors.sky.600);
}

html {
  overflow-y: scroll;
  color-scheme: light;
  @apply text-primary bg-base size-full font-sans antialiased;
}

html.dark {
  color-scheme: dark;
  --text-color-primary: theme(colors.neutral.50);
  --text-color-secondary: theme(colors.neutral.400);
  --background-color-base: theme(colors.zinc.800);
  --background-color-interactive: theme(colors.neutral.900);
  --color-accent: theme(colors.sky.400);
  --color-accent-hover: theme(colors.sky.300);
}

body {
  @apply size-full;
  @apply flex flex-col;
}

button {
  @apply cursor-pointer;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;

  a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
    &:hover {
      @apply text-black dark:text-white;
      @apply decoration-black/25 dark:decoration-white/50;
    }
  }
}

.animate {
  @media (prefers-reduced-motion: no-preference) {
    /* @apply opacity-0 translate-y-3; */
    @apply transition-all ease-out;
  }

  /* TODO - this makes us require JS */
  &.show {
    @apply opacity-100 translate-y-0;
  }
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
